
.DS_Store
.ipynb_checkpoints/DataInvestigation-checkpoint.ipynb
.ipynb_checkpoints/DataModels-checkpoint.ipynb
data.txt
__pycache__/utils_practical_2.cpython-311.pyc
.ipynb_checkpoints/prompt_II-checkpoint.ipynb
.ipynb_checkpoints/utils_practical_2-checkpoint.py
misc/readings_starter.zip
/.ipynb_checkpoints
Scratch-Practical2.ipynb
autos.csv
data/samples.csv
/misc/.ipynb_checkpoints
/images/.ipynb_checkpoints
